*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(./Ludo_board.png);
    width: 100vw;
    height: 100vh;
    background-size:100%,100% cover;
    background-position:center;
    background-repeat: no-repeat;
}
#second{
    background-color: red;
    color: black;
}
.both{
    width: 70px;
    border: 2px solid black;
    border-radius: 10px;
    margin:2rem 0 0 2rem;
}
.expression{
    width: 30%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

